body {
  background-color: black;
}

.welcome{
  background-image: url(./Netflix2.jpg);
  background-color: red;
  background-blend-mode:darken;
}

.source-text {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 80px;
  font-weight: bold;
}

.movie-title {
  font-family: 'Source Sans Pro', sans-serif;
}

.sub-source-text {
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
}

.another-text {
  font-size: 35px;
}

.success-text{
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
}

.big-font {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.header, .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 75%;
}

nav {
  background-color: black;
}

.b-color{
  background-color:black;
  /* opacity: 0.2;   */
}

.m-image{
  min-height: 100%;
  min-width: 100%;
}


/* @media screen and (max-width: 500px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
  .source-text {
    font-size: 40px;
  }
  .search {

  }
} */