
body {
  background-image: url(./Netflix2.jpg);
  background-color: #282c34;
  background-blend-mode:lighten;
}

.header-title {
  color: white;
  
}

.header, .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 40%;
}